:root{
    --main-bg: #254D32;
    --dark-bg: #181D27;
    --pop-bg: #3A7D44;

	--main-text: #ffffff;
	--invert-text: #ffffff;
	--link: #1e87f0;
	--invert-link: #1ef0b1;
    --pop-text: #69B578;
    
    --pop: #D0DB97;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	margin-left: 15vw;
	width: 70vw;
	height: 70vw;
}
.lds-ripple div {
	position: absolute;
	border: 1vw solid #000000;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.25s;
}
.lds-ripple div:nth-child(3) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

html{
	background-color: #f8f8f8;
}

.gray-out{
	filter: grayscale();
}

.auto-margin{
	margin: auto;
}

#nav{
	text-align: center;
	width: 100vw;
	padding: 20px 0;
}

#nav-logo{
	width: 50%;
}

#nav-bar{
	display: none;
}

#nav-toggle{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 30px;
	right: 30px;
}

#nav-control:checked ~ #nav-bar{
	margin: 0;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000000c0;
	z-index: 1;
}

#nav-control:checked ~ #nav-bar li{
	margin: 0;
	padding: 10%;
	font-size: 2em;
	z-index: 1;
}

#nav-control:checked ~ label img{
	position: fixed;
	filter: invert(1);
	z-index: 2;
}

@media only screen and (min-width: 640px){
	#nav #nav-logo{
		float: left;
		width: 20%;
		margin-top: 2%;
		margin-left: 5%;
	}

	#nav label{
		display: none;
	}

	#nav-bar{
		float: left;
		display: block;
		width: 75%;
		margin-top: 0;
	}

	#nav-bar > li{
		display: none;
	}

	#nav-bar li{
		float: left;
		width: 33%;
		padding: 8% 0;
	}
}

body{
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

#footer{
	position: absolute;
	width: 100vw;
	bottom: 0;
	height: 3.5rem; 
	padding: 2% 5% 2%;
}