.basic-dev-card img{
    display: block;
    margin: auto;
}

.basic-dev-card p{
    margin: 0;
}

#projMain{
    margin: auto;
    padding-top: 0;
    margin-top: 0;
}

#projectCardSource{
    margin-left: 3px;
    display: inline-block;
    margin-top: 15px;
}
#projectCardSource li{
    padding: 0;
    display: inline-block;
}

#projectCardDescription{
    padding-bottom: 10px;
    text-align: center;
}

#uk-icon-button{
    width: 54px;
}