#body{
    background-image: url(/src/img/me.jpg);
    background-color: #1f60d8;
}

#nav{
    padding-bottom: 0;
    color: var(--invert-text);
}

#nav-toggle{
    filter: invert(1);
}

#nav-logo{
    filter: invert(1);
}

#main-section{
    padding: 2em 0 0 0;
    color: var(--invert-text);
    text-align: center;
}

h1{
    font-size: 4em;
    color: var(--invert-text);
    padding-bottom: 40px;
}

.text-slider{
    font-size: 2em;
    margin: auto;
}

.text-slider span{
    background-color: #444444aa;
    display: block;
    height: fit-content;
    width: 0;
    overflow: hidden;
    float: left;
    transition: 0.5s;
    margin-bottom: 30px;
}

.text-slider span:first-child{
    width: 100%;
}

#socialButtonsLarge{
    display: none;
    position: absolute;
    left: 5%;
    top: 40%;
}

#socialButtonsSmall{
    margin: 2% 0 0 calc((100vw - 50px * 3)/2);
}

@media only screen and (min-width: 640px){
    #main-section{
        padding-top: 6em;
    }

    #socialButtonsLarge{
        display: block;
    }

    #socialButtonsSmall{
        display: none;
    }
}