<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
    $for i i < #count i+=1
    <div>
        <a class="uk-link-muted" onclick="load_page('#$$array links #i$')">
            <div class="uk-card uk-card-default basic-dev-card">
                <div class="uk-card-media-top">
                    <img src="$$array icons #i$" alt="Icon for $$array names #i$ project">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">$$array names #i$</h3>
                </div>
            </div>
        </a>
    </div>
    $end
</div>